<div class="tmdb-navigator">
  @if (isLoading()) {
    <p>Caricamento film...</p>
  }

  @if (!isLoading()) {

    <p-panel header="Cerca">
        <div class="">
            <form (ngSubmit)="searchMovies()">
                <p-inputgroup>
                    <input pInputText placeholder="Cerca film per titolo" [(ngModel)]="searchQuery" name="searchQuery" />
                    <p-button label="Cerca" type="submit" />
                    <p-button [disabled]="!isSearchMode()" label="Pulisci" severity="secondary" type="button" (click)="clearSearch()" />
                </p-inputgroup>
            </form>
        </div>
    </p-panel>

    @if (isSearchMode()) {
      <p style="margin-top: 10px;"><strong>Risultati ricerca per:</strong> "{{ searchQuery() }}"</p>
    }

    <p-table
      [value]="movies()"
      [paginator]="false"
      [rows]="20"
      [tableStyle]="{ 'min-width': '60rem' }"
    >
      <ng-template #header>
        <tr>
          <th style="width:3%">
            <input type="checkbox" [checked]="areAllSelected()" (change)="toggleSelectAll()" />
          </th>
          <th style="width:8%">ID</th>
          <th style="width:37%">Titolo</th>
          <th style="width:13%">Data Uscita</th>
          <th style="width:7%">Importato</th>
          <th style="width:7%">Escluso</th>
          <th style="width:7%">Marcato</th>
          <th style="width:18%">Azioni</th>
        </tr>
      </ng-template>
      <ng-template #body let-movie>
        <tr>
          <td>
            <input type="checkbox" [checked]="isMovieSelected(movie.id)" (change)="toggleMovieSelection(movie.id)" />
          </td>
          <td>{{ movie.id }}</td>
          <td>{{ movie.title }}</td>
          <td>{{ movie.release_date | date:'dd/MM/yyyy' }}</td>
          <td>{{ isImported(movie.id) ? 'SI' : 'NO' }}</td>
          <td>{{ isExcluded(movie.id) ? 'SI' : 'NO' }}</td>
          <td>{{ isMarked(movie.id) ? 'SI' : 'NO' }}</td>
          <td>
            @if (isImported(movie.id)) {
              <button pButton size="small" severity="danger" (click)="removeMovie(movie.id)" style="margin-right: 5px;">Rimuovi</button>
            } @else {
              <button pButton size="small" severity="success" (click)="importMovie(movie)" style="margin-right: 5px;">Importa</button>
            }
            
            @if (isExcluded(movie.id)) {
              <button pButton size="small" severity="secondary" (click)="includeMovie(movie.id)" style="margin-right: 5px;">Includi</button>
            } @else {
              <button pButton size="small" severity="warn" (click)="excludeMovie(movie.id)" style="margin-right: 5px;">Escludi</button>
            }
            
            @if (isMarked(movie.id)) {
              <button pButton size="small" severity="help" (click)="unmarkMovie(movie.id)">Demarca</button>
            } @else {
              <button pButton size="small" severity="info" (click)="markAsReviewed(movie.id)">Marca</button>
            }
          </td>
        </tr>
      </ng-template>
    </p-table>

    <div style="margin-top: 15px; padding: 10px; background-color: #f0f0f0; border-radius: 5px;">
      <strong>{{ getSelectedCount() }} film selezionati</strong>
      <button pButton size="small" severity="success" (click)="importSelectedMovies()" style="margin-left: 10px;">Importa Selezionati</button>
      <button pButton size="small" severity="danger" (click)="removeSelectedMovies()" style="margin-left: 5px;">Rimuovi Selezionati</button>
      <button pButton size="small" severity="warn" (click)="excludeSelectedMovies()" style="margin-left: 5px;">Escludi Selezionati</button>
      <button pButton size="small" severity="secondary" (click)="includeSelectedMovies()" style="margin-left: 5px;">Includi Selezionati</button>
      <button pButton size="small" severity="info" (click)="markSelectedAsReviewed()" style="margin-left: 5px;">Marca Selezionati</button>
      <button pButton size="small" severity="help" (click)="unmarkSelectedMovies()" style="margin-left: 5px;">Demarca Selezionati</button>
    </div>

    <div class="flex justify-end w-full bg-white">
        <p-paginator (onPageChange)="onPageChange($event)" [first]="firstElementPage()" [rows]="20"
            [totalRecords]="totalResults()" [showCurrentPageReport]="true"
            [showPageLinks]="true" [showJumpToPageDropdown]="false" [showFirstLastIcon]="true"
            currentPageReportTemplate="Elementi {first}-{last} di {totalRecords}" />
    </div>
    

    
  }
</div>