<div class="tmdb-navigator">
  <h1>TMDB - Film Più Votati</h1>

  @if (isLoading()) {
    <p>Caricamento film...</p>
  }

  @if (!isLoading()) {
    <p>Totale film: {{ totalResults() }} | Pagina {{ currentPage() }} di {{ totalPages() }}</p>

    <div style="margin-bottom: 15px; padding: 10px; background-color: #f0f0f0; border-radius: 5px;">
    <strong>{{ getSelectedCount() }} film selezionati</strong>
    <button pButton size="small" severity="success" (click)="importSelectedMovies()" style="margin-left: 10px;">Importa Selezionati</button>
    <button pButton size="small" severity="warn" (click)="excludeSelectedMovies()" style="margin-left: 5px;">Escludi Selezionati</button>
    <button pButton size="small" severity="info" (click)="markSelectedAsReviewed()" style="margin-left: 5px;">Marca Selezionati</button>
    </div>
    

    <p-table
      [value]="movies()"
      [paginator]="false"
      [rows]="20"
      [tableStyle]="{ 'min-width': '60rem' }"
    >
      <ng-template #header>
        <tr>
          <th style="width:3%">
            <input type="checkbox" [checked]="areAllSelected()" (change)="toggleSelectAll()" />
          </th>
          <th style="width:8%">ID</th>
          <th style="width:37%">Titolo</th>
          <th style="width:13%">Data Uscita</th>
          <th style="width:7%">Importato</th>
          <th style="width:7%">Escluso</th>
          <th style="width:7%">Marcato</th>
          <th style="width:18%">Azioni</th>
        </tr>
      </ng-template>
      <ng-template #body let-movie>
        <tr>
          <td>
            <input type="checkbox" [checked]="isMovieSelected(movie.id)" (change)="toggleMovieSelection(movie.id)" />
          </td>
          <td>{{ movie.id }}</td>
          <td>{{ movie.title }}</td>
          <td>{{ movie.release_date | date:'dd/MM/yyyy' }}</td>
          <td>{{ isImported(movie.id) ? 'SI' : 'NO' }}</td>
          <td>{{ isExcluded(movie.id) ? 'SI' : 'NO' }}</td>
          <td>{{ isMarked(movie.id) ? 'SI' : 'NO' }}</td>
          <td>
            <button pButton size="small" severity="contrast" (click)="importMovie(movie)" style="margin-right: 5px;">Importa</button>
            <button pButton size="small" severity="contrast" (click)="excludeMovie(movie.id)" style="margin-right: 5px;">Escludi</button>
            <button pButton size="small" severity="contrast" (click)="markAsReviewed(movie.id)">Marcalo</button>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <div class="flex justify-end w-full bg-white">
        <p-paginator (onPageChange)="onPageChange($event)" [first]="firstElementPage()" [rows]="20"
            [totalRecords]="totalResults()" [showCurrentPageReport]="true"
            [showPageLinks]="true" [showJumpToPageDropdown]="false" [showFirstLastIcon]="true"
            currentPageReportTemplate="Elementi {first}-{last} di {totalRecords}" />
    </div>
  }
</div>